{% load static %}
                <!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card  shadow h-100 py-2">
        <div class="card-body">
            <h1 align="center">Camera 1</h1>
            <img id="bg" class="center camera_size" src="/video_feed/" style="width: 100%">
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card  h-100 py-2">
        <div class="card-body">
            <h1 align="center">Camera 2</h1>
            <img id="bg" class="center camera_size" src="/video_feed/" style="width: 100%">
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card  shadow h-100 py-2">
        <div class="card-body">
            <h1 align="center">Camera 3</h1>
            <img id="bg" class="center camera_size" src="/video_feed/" style="width: 100%">
        </div>
    </div>
</div>
</div>